.files-list-container {
  background: white;
  border-radius: 10px;
  margin-top: 2em !important;
  padding: 30px !important;
}

.files {
  font-size: 2em;
}

.files-icon {
  font-size: 1.2em;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.file-names {
  font-size: 1.1em;
  margin-top: 30px;
}
