.browse-torrent-keywords {
  margin-top: 5%;
  background-color: white;
  border-radius: 50px !important;
}

.browse-torrent-input {
  border-radius: 50px !important;
}

.browse-torrent-results {
  margin-top: 2em;
}
