.navigation-bar {
  background-color: black;
}

.navigation-bar .logo {
  font-size: 1.7em;
}

.navigation-bar .logo-version {
  font-size: 0.7em;
  color: #bbb;
  margin-left: 10px;
}

.torrent-info-container {
  color: black;
}

.torrent-info-text {
  display: inline-block;
}
